.git
.github
.gitignore

.venv/
venv/
ENV/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
*.local

.idea/
.vscode/
.DS_Store
Thumbs.db

dist/
build/
*.egg-info/

*.log
